* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(0, 255, 255, 0.3);
}

/* menu */
nav {
  display: flex;
  gap: 30px;
}

/* links */
nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  transition: 0.3s;
}

/* hover  efeito */
nav a:hover {
  color: #00c3ff;
  transform: scale(1.1);
  text-shadow:
    0 0 10px #00c3ff,
    0 0 20px #00c3ff;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #00c3ff;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

/* botao principal */
.theme-btn {
  position: absolute;
  right: 10px;
  top: 0%;
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(45deg, #00c3ff, #0077ff);
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 10px #00c3ff;
  transition: 0.3s;
}

.theme-btn:hover {
  transform: scale(1.1);
}

main {
  padding-top: 80px;
  padding-bottom: 150px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    url("../imgs/BGFundoEscuro.png");
  background-size: cover;
  background-position: center;
  color: #8df0ff;
  position: relative;
  overflow: hidden;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

main h1 {
  font-size: 110px;
  font-family: "VT323", monospace;
  background: linear-gradient(90deg, #00ffff, #00ff88);
  background-clip: text;
  color: transparent;
  animation: brilho 3s infinite;
}

main p {
  font-size: 20px;
  margin: 10px 0 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.botao {
  padding: 15px 30px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  background: linear-gradient(45deg, #00c3ff, #0077ff);
  border-radius: 25px;
  box-shadow:
    0 0 10px #00c3ff,
    0 0 20px #0077ff;
  transition: 0.5s;
}

.botao:hover {
  transform: scale(1.1);
}

.efeitos {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cristais {
  width: 100%;
  height: 100%;
  position: relative;
}

.cristais span {
  position: absolute;
  width: 10px;
  height: 20px;
  background: linear-gradient(#00ffff, transparent);
  animation: cair linear infinite;
}

/* posicao */
.cristais span:nth-child(1) {
  left: 10%;
  animation-duration: 4s;
}

.cristais span:nth-child(2) {
  left: 20%;
  animation-duration: 6s;
}

.cristais span:nth-child(3) {
  left: 30%;
  animation-duration: 5s;
}

.cristais span:nth-child(4) {
  left: 40%;
  animation-duration: 7s;
}

.cristais span:nth-child(5) {
  left: 50%;
  animation-duration: 4.5s;
}

.cristais span:nth-child(6) {
  left: 60%;
  animation-duration: 6.5s;
}

.cristais span:nth-child(7) {
  left: 70%;
  animation-duration: 5.5s;
}

.cristais span:nth-child(8) {
  left: 80%;
  animation-duration: 7s;
}

.cristais span:nth-child(9) {
  left: 90%;
  animation-duration: 4s;
}

.cristais span:nth-child(10) {
  left: 95%;
  animation-duration: 6s;
}

/*  animacao cristais  */
@keyframes cair {
  0% {
    transform: translateY(-100px);
    opacity: 1;
  }

  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

@keyframes brilho {
  0% {
    text-shadow: 0 0 5px #00ffff;
  }

  50% {
    text-shadow: 0 0 25px #00ffff;
  }

  100% {
    text-shadow: 0 0 5px #00ffff;
  }
}

footer {
  width: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(0, 255, 255, 0.3);
  padding: 30px 20px;
  text-align: center;
  color: #8df0ff;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #00c3ff;
  transform: scale(1.1);
  text-shadow:
    0 0 10px #00c3ff,
    0 0 20px #00c3ff;
}

.footer-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #00c3ff;
  transition: 0.3s;
}

.footer-links a:hover::after {
  width: 100%;
}

.footer-info {
  font-size: 14px;
  color: rgba(141, 240, 255, 0.7);
}

.footer-info p {
  color: white;
}

.pagina-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pagina-conteudo h1 {
  font-size: 80px;
  margin-bottom: 30px;
}

.pagina-conteudo p {
  max-width: 600px;
  line-height: 1.8;
  margin-bottom: 15px;
  font-size: 18px;
}

.game-container {
  width: 851px;
  height: 480px;
  margin: 20px auto;
  aspect-ratio: 16 / 9;
}

.game-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/*  modo claro  */
.light-mode header {
  background: #70f1ffae;
}

.light-mode main {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.648), rgba(0, 0, 0, 0.405)),
    url("../imgs/TelaInicial.png");
}

.light-mode main p {
  color: #70f1ff;
}

.light-mode nav a {
  color: #000;
}

.light-mode footer {
  background: #4b8a92;
}

.light-mode footer p {
  color: #000;
}

.light-mode .footer-links a {
  color: #000;
}

.light-mode nav a:hover {
  color: #ffffff;
  text-shadow:
    0 0 10px #ffffff,
    0 0 20px #ffffff;
}

.light-mode nav a::after {
  background: #ffffff;
}

.light-mode .footer-links a:hover {
  color: #ffffff;
  text-shadow:
    0 0 10px #ffffff,
    0 0 20px #ffffff;
}

.light-mode .footer-links a::after {
  background: #ffffff;
}

#areaJogo {
  filter: blur(8px);
  pointer-events: none;
  transition: 0.3s;
}

input {
  padding: 12px 20px;
  border-radius: 25px;
  border: 2px solid #00c3ff;
  background: rgba(0, 0, 0, 0.533);
  color: white;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 195, 255, 0.5);
}

button {
  margin-top: 10px;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(45deg, #00c3ff, #0077ff);
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow:
    0 0 10px #00c3ff,
    0 0 20px #0077ff;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
  box-shadow:
    0 0 15px #00ffff,
    0 0 30px #0077ff;
}

.info-jogo {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  border-left: 4px solid #00c3ff;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  main h1 {
    font-size: 60px;
  }

  main p {
    font-size: 16px;
    padding: 0 10px;
  }

  nav {
    gap: 15px;
  }

  nav a {
    font-size: 14px;
  }

  .game-container {
    width: 100%;
    height: 100%;
    margin: 20px auto;
  }

  .footer-links {
    gap: 15px;
  }

  .footer-links a {
    font-size: 14px;
  }

  .theme-btn {
    font-size: 9px;
    padding: 6px 10px;
    top: 10px;
    right: 2px !important;
  }

  .emoji {
    display: none;
  }
  .info-jogo {
    width: 90%;
  }

  .conteudo p {
    width: 90%;
  }
}
